[default]
model = deepseek-r1

[aliases]
claude      = claude-3.5-sonnet-20241022
deepseek    = deepseek-v3-chat-20241226
deepseek-r1 = deepseek-r1-20250120
llama       = llama-3.1-405b-instruct-quant8
sonnet      = claude-3.5-sonnet-20241022
