[default]
model = deepseek

[aliases]
claude    = claude-3.5-sonnet-20241022
deepseek  = deepseek-v3-chat-20241226
llama     = llama-3.1-405b-instruct-quant8
qwq       = qwq-32b-preview
sonnet    = claude-3.5-sonnet-20241022
